<div class="content_white">
  <h2>Монгол хэлний мэдлэгээ сорьцгооё!</h2>
  <p>Монгол хэл суралцагч гадаадын иргэн, эх хэлээ судлан суралцаж буй хүн бүрт зориулав.</p>
</div>
<div class="featured_content" id="feature">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 feature_grid"> <i class="fa fa-user fa-3x"></i>
        <h3 class="m_1"><a href="#/registration">Бүртгүүлэх</a></h3>
        <p class="m_2">Та анх удаа шалгалт өгөх гэж байгаа бол шалгуулагч болж бүртгүүлнэ үү.</p>
        <a href="#/registration" class="feature_btn">дэлгэрэнгүй</a> </div>
      <div class="col-md-4 feature_grid"> <i class="fa fa-shield fa-3x"></i>
        <h3 class="m_1"><a href="{{ '%taohost%' | webconfig }}">Шалгуулах </a></h3>
        <p class="m_2">Өмнө нь бүртгүүлсэн шалгуулагчид системд нэвтэрч шалгуулна уу.</p>
        <a href="{{ '%taohost%' | webconfig }}" class="feature_btn">дэлгэрэнгүй</a> </div>
      <div class="col-md-4 feature_grid"> <i class="fa fa-bar-chart fa-3x"></i>
        <h3 class="m_1"><a href="{{ '%taohost%' | webconfig }}">Дүгнүүлэх</a></h3>
        <p class="m_2">Шалгалт өгсөн шалгуулагчид өмнөх сорилынхоо дүнгээ харна уу.</p>
        <a href="{{ '%taohost%' | webconfig }}" class="feature_btn">дэлгэрэнгүй</a> </div>
    </div>
  </div>
